/*Ограничение максимальной ширины*/

.header, .footer, .content {
    max-width: 1650px;
    margin-left: auto;
    margin-right: auto;
}

/*Верхняя и нижняя шапки*/

.header, .footer {
    height: 320px;
    width: 100%;
    background-color: #CED6CE;
    font: normal normal normal 32px/1.4em bold,"playfair display",serif;
}
svg{
    fill:#415941;
    margin-left: 60px;
}
.header svg:hover{
    transform: scale(1.2); 
    transition: 1s; 
}
.nav{
    color: #415941;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    position: relative;
    top: -200px;
    margin-right: 60px;
}
a span:hover{
    color: black;
}
.title{
    position: relative;
    top: -135px;
    margin-left: 200px;
    color: #334633;
}
span {
    color:#415941;
    font: optional;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.8;
}
p{
    color:#334633;
    font-weight: 700px;
    font: bold 30px bold,"playfair display",serif;
}
p.title{
    font-size: 22px;
}
.footer p.title{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.footer .title{
  top: 0;
  padding-top: 80px;
  margin-left: 0;
}
.footer span.title{
    font-weight: lighter;
    margin-left: 10px;
}

/*Скрытое на больших устройствах меню*/

button.btn.btn-primary{
    position: absolute;
    top: 40px;
    right: 10px;
    display: none;
    background-color: #CED6CE;
    font-size: 30px;
    line-height: 0.4;
    color: #334633;
    border: none;
}
button.btn.btn-primary:hover, button.btn.btn-primary:visited, button.btn.btn-primary:active{
    border:#334633 solid 2px;
}
#offcanvasRight{
    background-color: #CED6CE;
}
.offcanvas-body a.nav-link{
    text-align: center;
}
/*Содержание*/

.content{
    height: 100%;
    width: 100%;
    background-color: #FFF6EB;
    font: normal normal normal 14px/1.4em 'Nunito', sans-serif;
}

@media all and (max-width:560px){
    ul.nav.justify-content-end{display: none;} /*скрывается навигацию для большого и среднего размера*/
    button.btn.btn-primary{display: block;}/*добавляется навигацию для малого размера*/
    
    .header, .footer {height: 120px;} /*изменяется расположение svg и заголовка*/
    .header svg{margin-left: 10px !important;
                position:absolute; top: -40px; padding-top: 10px!important}
    .header p.title{position: absolute;top: 20px;left: -45px;}
    .header span.title{position: absolute;top: 80px;left: -45px;}
   
    .footer>.title{flex-direction: column;} /*изменяется расположение текста в "подвальной" части*/
    .footer p.title {padding: 10px; align-items: flex-start;}
    .footer span.title{margin: 0; padding: 0; align-items: flex-start;}
}
