.footer{
    margin-top: -200px;
}

.wrap{
    background-color: #F6E6D2;
    width: calc(100% - 120px);
    position: relative;
    top: -150px;
    right: -60px;
    padding-bottom: 50px;
}
.wrap p{
    margin-bottom: 0;
    text-align: center;
    padding-top: 50px;
}
.sv{
    text-align: center;
}
.sv svg{
    margin: 0 !important;
}
.sv+div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.photo{
    min-width: 420px;
    background-image: url("../../images/about/person.jpg");
    left: 50px;
}
.workplace{
    background-image: url("../../images/about/workplace.jpg");
    left: -50px;
    padding-bottom: 50px;
}
.photo, .workplace{
    width: 660px;
    height: 499px;
    margin-top: 50px;
    position: relative;
    top: -50px;
}
.text{
    width: 500px;
    height: 500px;
    min-height: 442px;
    background-color: #CED6CE;  
    margin-right: 50px;
    padding: 100px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #334633;
}
.next{
    margin-left: 50px;
    margin-right: 0;
    min-width: 450px;
}

.button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 150px;
    height: 50px;
    background-color:#CED6CE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #334633;
}
.button a{
    color:#334633;
    font: normal 14px/1.4em 'Nunito', sans-serif;
    vertical-align: middle;
    text-decoration: none;
}
.button:hover{
    background-color: #334633;
}
.button:hover > a{
    color: white;
}

@media all and (max-width:970px){
    .sv+div{flex-direction: column;}
    div.second{flex-direction: column-reverse;}
    .photo, .workplace{margin-top: 0; margin-left: auto; margin-right: auto;
            top: 0; left: 0; width: 420px; min-width: none;}
    .text, .text.next{width:420px; margin-left: auto; margin-right: auto; 
            padding: 100px 50px; height: 350px;}
    .next{min-width: 420px;}
}
@media all and (max-width:560px){
    .wrap{width: 100%; top: 0; right: 0; padding-top: 50px;}
    .footer {margin-top: 0;}
    .photo {margin-right: 30px; margin-left: 10px; width: calc(100% - 40px);height: 450px;}
    .workplace {margin-right: 10px; margin-left: 30px; width: calc(100% - 40px); height: 450px;}
    .text {margin-right: 10px; margin-left: 30px; width: calc(100% - 40px);
            padding: 80px 40px 0 40px; height: 100%;min-width: 315px; 
            position: relative; top: -50px;}
    .text.next{margin-right: 30px; margin-left: 10px; width: calc(100% - 40px);
            padding: 80px 40px 0 40px; height: 100%;min-width: 315px; 
            position: relative; top: -50px;}
    .wrap p{padding: 0;}
    .button{margin-top: 0;}
}
